<div class="common-header">
  <nav>
    <!-- <img src="images/logo.jpg"> </img> -->
    <span ng-class="{active: isActive('/adduser')}">
      <a ui-sref="adduser"> <span class="inner-span glyphicon glyphicon-asterisk"></span> AddUser </a>
    </span>
    <span ng-class="{active: isActive('/viewuser')}">
      <a ui-sref="viewuser"><span class="inner-span glyphicon glyphicon-transfer"></span>  ViewUsers </a>
    </span>
    <span ng-class="{active: isActive('/login')}">
      <a ui-sref="login"> <span class="inner-span glyphicon glyphicon-log-out"></span>  SignOut </a>
    </span>
  </nav>
</div>

<div class="container">
  <form name="userForm">
    <div class="row">
      <input type="text" required name="id" placeholder="User ID" ng-model="userInfo.userid">
      <input type="password" required name="password" placeholder="Password" ng-pattern="/^(?=.*[a-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{1,}$/" ng-model="userInfo.password">
      <p class="errormsg" ng-show="userForm.password.$invalid && userForm.password.$dirty">Password must conatin at least one lower case alphabet, one upper case alphabet, one number and one special character!</p>
    </div>
    <div class="row">
      <input type="text" name="firstname" placeholder="First Name" ng-model="userInfo.firstname">
      <input type="text" name="lastname" placeholder="Last Name" ng-model="userInfo.lastname">
    </div>
    <button ng-click="nextView2(userInfo)" ng-disabled="userForm.$invalid" type="submit"> Add User </button>
    <p ng-show="showDuplicateMssg">This userid already exists. Please enter another userid. </p>
  </form>
</div>
